@import '../../styles/variables';
@import '../../styles/mixins';

.container {
    &__logo {
        width: 100%;
        max-width: 170px;
        margin: 40px auto;
    }
}

.menu {
    color: $color-black;

    &__item {
        color: $color-black;
    }

    &__link {
        margin-bottom: 20px;
    }
}
