//pallet
$color-primary: #c29958;
$color-light-gray: #d1d1d1;
$color-second-gray: #999;
$color-white: #fff;
$color-smooth-white: #f7f7f7;
$color-black: #222222;
$color-second-white: #f4f4f4;
$color-brown: #555555;
$color-light-pink: #ccc;

//media queries
$media-wr: 1350px;
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;
$media-xxs: 320px;
